body {
    font-family: "Söhne Mono", monospace, "Courier New";
    background-color: #2B2926;
    color: #f4f4f9;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a {
    color: #e5e7eb;
    text-decoration: none;
}

a:hover {
    color: #d1d5db;
}

.dedicatory {
    font-size: 0.8em;
    font-style: italic;
    margin-top: 30px;
    padding: 10px;
    border-top: 2px solid #e5e7eb;
}

.scroll-arrow {
    font-size: 2em;
    margin-top: 40px;
    animation: bounce 1.5s infinite;
    cursor: pointer;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
}
